<style>
td,th{border-bottom: 1px solid #f8f2ff; border-left: 1px solid #f8f2ff;}
tr:nth-child(odd) {background-color: #f2e2ff;}
tr:hover {background-color: #fffcef}
</style>
<div data-extend-template="/html/base.html">
	<div data-block-append="content">
		<div class="container" style="overflow: auto;">
			<br/>
			<form>
        <div class="input-field">
          <input id="search" type="search" placeholder="Search for responses" ng-model="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" ng-click="responses_to_tsv()">cloud_download</i></a>
        </div>
        <div class="fixed-action-btn" style="margin-right: 75px;">
        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modalupload" modal><i class="material-icons">cloud_upload</i></a>
      </div>
			<table style="width: 95%; font-size: 12px; border: 5px black;">
				<tbody style="display: block; height: 600px; overflow: auto;">
					<tr style="background-color: #6200b2; color:white; font-size: 15px;">
					<th>Time</th>
					<th>Student ID</th>
					<th>Grade</th>
					<th>Mission</th>
					<th>Pre Learning Score</th>
					<th>First Choice Job</th>
					<th>First Choice Reason</th>
					<th>Skills</th>
					<th>Personalities</th>
					<th>Excited</th>
					<th>Jitters</th>
					</tr>

					<tr ng-repeat="res in responses" ng-if="in_search(res);">
						<td>{{res.time}}</td>
						<td>{{res.student_id}}</td>
						<td>{{res.grade_level}}</td>
						<td>{{res.mission}}</td>
						<td>{{res.pre_excited}}</td>
						<td>{{res.pre_job_role}}</td>
						<td>{{res.pre_job_skills}}</td>
						<td>{{res.pre_job_why}}</td>
						<td>{{res.pre_mission_jitters}}</td>
						<td>{{res.pre_mission_score}}</td>
						<td>{{res.pre_personality}}</td>
					</tr>
				</tbody>
			</table>
			<div id="modalupload" class="modal">
		    <div class="modal-content">
		      <h4>Upload Student Data</h4>
		      <p>From the Google Sheets spreadsheet for pre-student responses, navigate to 'Download As' and select Tab-separated values ('.tsv'). Upload that file here!</p>
		    </div>
				<div class="file-field input-field" style="padding-left: 29px; padding-right: 29px">
          <div class="btn blue">
            <span>Browse</span>
            <input id="csv_input" type="file" accept=".tsv">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
	      </div>
		    <div class="modal-footer">
		      <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="reload_responses()">Submit</a>
		    </div>
		  </div>
		</div>
	</div>
</div>